* {
    box-sizing: border-box;
}

body {
    background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #B22222;
    padding: 30px;
    text-align: left;
    color: white;
	font: 20px sans-serif;
	position: static;
	top: 0;
	left: 0;
	width: 100%;
}

	header img {
		width: 50px;
		height: 50px;	
	}

section {
	position: static;
}
	
footer {
    background-color: #B22222;
    text-align: center;
    color: white;
	font: 15px Helvetica;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

form {
	color: white;
	text-align: left;
	padding: 5px;
}

	form input[type=submit] {
		cursor: pointer;
	}

table {
	float: left;
	width: 50%;
	height: 50%;
	text-align: left;
}


#user-name {
	float: right;
}


.article {
	position: relative;
	background-color: white;
	padding: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	width: 80%;
	height: 65vh;
}

	.article h1 {
		font: 40px Helvetica;
	}

.cart-table table {
	height: 20%;
	overflow-y: scroll;
}

.contact-form {
	background-color: #B22222;
	width: 100%;
	height: 100%;
	padding: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}

	.contact-form textarea {
		resize: none;
		width: 80%;
		height: 200px;	
	}

.mini-nav-bar {
	text-align: right;	
	height: 30px;
	background-color: #e1e6ef;
	width: 100%;
}

	.mini-nav-bar .search-container {
		float: right;
	}
	
	.mini-nav-bar input[type=text] {
		padding: 2px;
		font: 15px Helvetica;
		border: none;
	}

.movie {
	padding: 20px;
	width: 50%;
	height: 50%;
}

	.movie img {
		margin: 30px;
		float: left;
		width: 150px;
		height: 250px;
	}	

.movie-desc {
	background-color: white;
	float: left;
	text-align: center;
	margin: 10px;
	font: 10px Arial;
	width: 100px;
	height: 180px;
}

	.movie-desc a {
		text-align: center;
		text-decoration: none;
		font-size: 10px;
		padding: 0;
	}

	.movie-desc a:hover {
		color: red;
	}

	.movie-desc img {
		width: 70px;
		height: 100px;
		padding: 0;
	}	
	
.nav {
	background: #7c0000;
	float: left;
	
	width: 20%;
	height: 65vh;
    padding: 10px;
	overflow: hidden;
}

	.nav ul {
		list-style-type: none;
		text-align: left;
		padding: 5px;
	}

	.nav ul a {
		color: white;
		text-align: left;
		font: 20px Helvetica;
		text-decoration: none;
		padding: 5px;
	}

	.nav ul a:hover{
		color: gray;
	}
	
.section:after {
    content: "";
    display: table;
    clear: both;
}
