<!doctype html>
<html lang="en">
<head>
	<title>{% block title %} {{ title }} {% endblock %}</title>
	<link rel="stylesheet" href={{ url_for('static', filename='styles/stylesheet.css') }}>
	<script  type="text/javascript" src={{ url_for('static', filename='javascript/validator.js') }}> </script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header>
		<h1>
			<a href={{ url_for('index') }}> <img src={{ url_for('static', filename='images/logo.jpeg')}} alt="Home"></a>
			Deluxe Video Club
		</h1>
		The comfort of the cinema in your own home!
	</header>

		<div class="mini-nav-bar">
			{% if user == True %}
				<div id="username">
					Welcome, {{ username }}! 
				</div>
			{% endif %}
			<div class="search-container">
				<form action={{ url_for('results') }} method="post">
					<select name="select">
						<option value="#"> --- </option>
						<option value="Action" name="Action">Action</option>
						<option value="Adventure" name="Adventure">Adventure</option>
						<option value="Animation" name="Animation">Animation</option>
						<option value="Comedy" name="Comedy">Comedy</option>
						<option value="Crime" name="Crime">Crime</option>
						<option value="Drama" name="Drama">Drama</option>
						<option value="Family" name="Family">Family</option>
						<option value="Fantasy" name="Fantasy">Fantasy</option>
						<option value="Historical" name="Historical">Historical</option>
						<option value="Horror" name="Horror">Horror</option>
						<option value="Independent"name="Independent">Independent</option>
						<option value="Political" name="Political">Political</option>
						<option value="Romance" name="Romance">Romance</option>
						<option value="Sci-Fi" name="Sci-Fi">Sci-fi</option>
						<option value="War" name="War">War</option>
						<option value="Western" name="Western">Western</option>
					</select>
					<input type="text"  placeholder="Search.." name="search" >
					<input type="submit" value = "Search">
				</form>
			</div>
		</div>

		<div class="section">
			<div class="nav">
				{% if user == True %}
					<ul>
						<li><a href={{ url_for('cart') }}><img class="shopping" src={{ url_for('static', filename='images/cart.png') }} alt="Cart">  Cart</a></li>
						<li><a href={{ url_for('history') }}><img class="shopping" src={{ url_for('static', filename='images/history.png') }} alt="Purchase History">  Purchase History</a></li>
						<li><a href={{ url_for('logout') }}><img class="shopping" src={{ url_for('static', filename='images/logout.png') }} alt="Logout">  Logout</a></li>
					</ul>
				{% else %}
					<form action={{ url_for('user')}} method="post" >
						Username:<br>
						<input type="text" id="username" name="username">
						<br>
						Password:<br>
						<input type="password" id="password" name="password">
						<p>
						<input type="submit" value="Submit">
					</form>
					<ul>
						<li><a href={{ url_for('register') }}>Register</a></li>
						<li><a href={{ url_for('index') }}>Home</a></li>
					</ul>
					
				{% endif %}
					
			</div>

			<div class="article">
				{% block article %}	{% endblock %}
			</div>
		</div>

		<footer>
			Deluxe Video Club © All rights reserved.
		</footer>

	</body>
</html>
