<!doctype html>
<html lang="en">
<head>
	<title>{% block title %} {{ title }} {% endblock %}</title>
	<link rel="stylesheet" href={{ url_for('static', filename='stylesheet.css') }}>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header>
		<h1>
			<a href={{ url_for('index') }}> <img src={{ url_for('static', filename='images/logo.jpeg')}} alt="Home"></a>
			Deluxe Video Club
		</h1>
		The comfort of the cinema in your own home!
		{% if user %}
			<div id="username">Welcome, {{ username }}</div>
		{% endif %}
	</header>

		<div class="mini-nav-bar">
			<div class="search-container">
				<form action={{ url_for('results') }} method="post">
					<select name="select">
						<option value="#"> --- </option>
						<option value="Action">Action</option>
						<option value="Adventure">Adventure</option>
						<option value="Animation">Animation</option>
						<option value="Comedy">Comedy</option>
						<option value="Crime">Crime</option>
						<option value="Drama">Drama</option>
						<option value="Family">Family</option>
						<option value="Fantasy">Fantasy</option>
						<option value="Historical">Historical</option>
						<option value="Horror">Horror</option>
						<option value="Independent">Independent</option>
						<option value="Political">Political</option>
						<option value="Romance">Romance</option>
						<option value="Sci-Fi">Sci-fi</option>
						<option value="War">War</option>
						<option value="Western">Western</option>
					</select>
					<input type="text"  placeholder="Search.." name="search" >
					<input type="submit" value = "Search">
				</form>
			</div>
		</div>

		<div class="section">
			<div class="nav">
				{% if user == False %}
					<form action={{ url_for('user')}} method="post">
						Username:<br>
						<input type="text" name="username">
						<br>
						Password:<br>
						<input type="password" name="password">
						<p>
						<input type="submit" value="Submit">
					</form>
					<ul>
						<li><a href={{ url_for('register') }}>Register</a></li>
						
					</ul>
				{% else %}
					<ul>
						<li><a href={{ url_for('cart') }}>Cart</a></li>
						<li><a href={{ url_for('history') }}>Purchase History</a></li>
					</ul>
				{% endif %}
					<ul>
						<li><a href={{ url_for('index') }}>Home</a></li>
						<li><a href={{ url_for('about') }}>About Us</a></li>
						<li><a href={{ url_for('contact') }}>Contact Us</a></li>
					</ul>
			</div>

			<div class="article">
				{% block article %}	{% endblock %}
			</div>
		</div>

		<footer>
			Deluxe Video Club © All rights reserved.
		</footer>

	</body>
</html>
