<!doctype html>
<html lang="en">
<head>
	<title>{% block title %} {{ title }} {% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>	
	<header>
		<h1>		
			<a href={{ url_for('index') }}> <img src="images/logo.jpeg" alt="Home"></a>
			Deluxe Video Club
		</h1>
		The comfort of the cinema in your own home!
		{% if user %}
			{% block username %} {% endblock %}
		{% endif %}
	</header>
		
		<div class="mini-nav-bar"> 
			<div class="search-container">
				<form action="{{ url_for('results')}}" method="get">
					<select name="select">
						<option value="action">Action</option>
						<option value="adventure">Adventure</option>
						<option value="comedy">Comedy</option>
						<option value="drama">Drama</option>
						<option value="horror">Horror</option>
						<option value="romance">Romance</option>
						<option value="scifi">Sci-fi</option>
						<option value="western">Western</option>
					</select>
					<input type="text" placeholder="Search.." name="search">
					<input type="submit" value="Search">
				</form>
			</div>
		</div>
		
		<div class="section">
			<div class="nav">
				{% if user == False %}
					<form action="user.html" method="post">
						Username:<br>
						<input type="text" name="username">
						<br>
						Password:<br>
						<input type="password" name="password">
						<p>
						<input type="submit" value="Submit">
					</form>	
					<ul>
						<li><a href={{ url_for('index') }}>Home</a></li>
						<li><a href={{ url_for('about') }}>About Us</a></li>
						<li><a href={{ url_for('contact') }}>Contact Us</a></li>
					</ul>
				{% else %}
					<ul>
						<li><a href={{ url_for('index') }}>Home</a></li>
						<li><a href={{ url_for('cart') }}>Cart</a></li>
						<li><a href={{ url_for('history') }}>Purchase History</a></li>
						<li><a href={{ url_for('about') }}>About Us</a></li>
						<li><a href={{ url_for('contact') }}>Contact Us</a></li>
					</ul>
				{% endif %}
			</div>
			
			<div class="article">
				{% block article %}	{% endblock %}
			</div>
		</div>
		
		<footer>
			Deluxe Video Club © All rights reserved.
		</footer>
		
	</body>	
</html>