{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block article %}
	<div class="cart-table">
		<table>
			<tr>
				<th>Movie</th>
				<th>Quantity</th>
				<th>Price (Ud.)</th>
				<th>Remove from Cart</th>
			</tr>
			<tr>
		{% for m in movies %}
			<tr>
				<td>{{ m.title }}</td>
				<td>{{ m.precio }}</td>
				<td>date: 00-00-0000</td>
				<td><form action="#"><input type="radio" name="remove"></form></td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<div class="cart-buttons">
		<form action="cart.html">
			<input type="submit" value="Remove Selected">
			<input type="submit" value="Buy Now">
		</form>
	</div>
{% endblock %}