{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block article %}
	<div class="movie">
		<img src={{ url_for('static', filename='images/pelis.jpg') }} alt={{ m.titulo }}>
		<h2>{{ m[1] }}</h2>
		<p><h4>Country: </h4>{{ m[3] }}
		<p><h4>Director: </h4>{{ m[2] }}
		<p><h4>Description :</h4>{{ m[6] }}
		<p><h4>Price: </h4>${{ m[5] }}
		<p><h4>Actor: </h4>{{ m[4] }}
		<form action={{ url_for('add_to_cart', pelicula=m[1]) }} method="post">
			<input type="submit"  value="Add to Cart">
		</form>


	</div>
{% endblock %}
