{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block article %}
	<div class="movie">
		<img src={{ url_for('static', filename=m.poster) }} alt={{ m.titulo }}> 
		<h3>{{ m.titulo }}</h3>
		<p>Director(s){% for x in m.director[:] %}
			{{ x }},
		{% endfor %}
		<p>Genre(s): {% for x in m.categoria[:] %} 
			{{ x }},
		{% endfor %}
		<p>Year: {{ m.anno }}
		<p><h4>Description:</h4> 
		{{ m.desc }}
		<p> 
		${{ m.precio }}
		<form action="#">
			<input type="submit" value="Add to Cart">
		</form>
	</div>
{% endblock %}
