{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block article %}
	<div class="movie">
		<img src={{ url_for('static', filename=m.poster) }} alt={{ m.titulo }}>
		<h2>{{ m[1] }}</h2>
		<p>Country
			{{ m[3] }}
		<p>Director
			{{ m[2] }}
		<p><h4>Description:</h4>
		{{ m[6] }}
		<p>
		${{ m[5] }}
		<form action={{ url_for('add_to_cart', pelicula=m[1]) }} method="post">
			<input type="submit"  value="Add to Cart">
		</form>
		<p> <h4>Actor:</h4>
			<p>{{ m[4] }}

	</div>
{% endblock %}
