{%extends 'base.html'%}

{% block title %}
{% endblock %}

{% block article %}
	{% if existe == True%}
	<div class="cart-table">
		<table>
			<tr>
				<th>Movie</th>
				<th>Price (Ud.)</th>
				<th>Quantity</th>
				<th>Date of Purchase</th>
			</tr>
			{% for m in history.peliculas %}
				<tr>
					<td> {{ m.titulo }}</td>
					<td>{{ m.precio }}</td>
					<td>{{ m.cantidad }}</td>
					<td>{{ m.date }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	
	</form >

	{%else%}
	<h2>It seems that you haven't done any buy yet... May yo should try!</h2><br>
	{% for m in movies%}
			<div class="movie-desc">
				<a href={{ url_for('description', title=m.titulo) }} method="get">
				<img src={{ url_for('static', filename=m.poster) }} alt={{ m.titulo }}> </a>
				{{ m.titulo }}
			</div>
	{% endfor %}
	{% endif %}
	<br><p>Your (saldo en ingles) is {{saldo}}. Would you like to increase it?
	<form action={{ url_for('increase') }} method="post">
		<input type="text" name="money" placeholder="Quantity..." required>
		<input type="submit" value = "Increase">
		
{% endblock %}
