{%extends 'base.html'%}

{% block title %}
{% endblock %}

{% block article %}
	{% if existe == True%}
		<div class="cart-table">
			<table>
				<tr>
					<th>Movie</th>
					<th>Price (Ud.)</th>
					<th>Quantity</th>
					<th>Date of Purchase</th>
				</tr>
				{% for m in movies %}
					<tr>
						<td> {{ m.titulo }}</td>
						<td>{{ m.precio }}</td>
						<td>{{ m.cantidad }}</td>
						<td>{{ m.date }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{%else%}
		<h2>It seems that you haven't bought anything yet!</h2>
	{%endif%}
		
{% endblock %}
