{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block article %}
	<h3>Personal information</h3><br>
	<div class = "register">
		<form action={{ url_for('user_test') }} method="post" onsubmit="return validate_registration()" name="registration">
			<p>First Name: <input type="text" name="FnameField" id="FnameField" required>
			Last Name: <input type="text" name="LnameField" id="LnameField" required>
			<p>Age: <input type="text" name="ageField" id="ageField">
			<p>Address1: <input type="text" name="address1Field" id="address1Field" required>
			Address2: <input type="text" name="address2Field" id="address2Field"><br>
			<p>City: <input type="text" name="cityField" id="cityField" required>
			State: <input type="text" name="stateField" id="stateField" ><br>
			<p>Country: <input type="text" name="countryField" id="countryField" required>
			Region: <input type="text" name="regionField" id="regionField" required><br>
			<p>Zip: <input type="text" name="zipField" id="zipField" ><br>
			<p>Gender:&emsp;
				<input type="radio" name="gender" value="male" checked> Male
 				<input type="radio" name="gender" value="female"> Female
 				<input type="radio" name="gender" value="other"> Other

			<p>Email: <input type="text" name="emailField" id="emailField" required>
			Phone: <input type="text" name="phoneField" id="phoneField" ><br>
			<p>Credit Card Type: <input type="text" name="creditcardtypeField" id="creditcardtypeField" required>
			Credit Card: <input type="text" name="creditcardField" id="creditcardField" required><br>
			<p>Credit Card Expiration:
				<select id="exMonth" name="exMonth" title="Month" required>
			    <option value="01" selected>January</option>
			    <option value="02">February</option>
			    <option value="03">March</option>
			    <option value="04">April</option>
			    <option value="05">May</option>
			    <option value="06">June</option>
			    <option value="07">July</option>
			    <option value="08">August</option>
			    <option value="09">September</option>
			    <option value="10">October</option>
			    <option value="11">November</option>
			    <option value="12">December</option>
			</select>

			<select id="exYear" name='exYear' title="Year" required>
			    <option value="2018selected">2018</option >
			    <option value="2019">2019</option>
			    <option value="2020">2020</option>
			    <option value="2021">2021</option>
			    <option value="2022">2022</option>
			    <option value="2023">2023</option>
			    <option value="2024">2024</option>
			    <option value="2025">2025</option>
			    <option value="2026">2026</option>
			    <option value="2027">2027</option>
			    <option value="2028">2028</option>
			    <option value="2029">2029</option>
			    <option value="2030">2030</option>
			    <option value="2031">2031</option>
			</select>
			<br>

			<p>Username: <input type="text" name="usernameField" id="usernameField" required><br>
			<p>Password: <input type="password" onkeydown="return validate_psw()" id="passwordField" name="passwordField" required><br>
			<meter value="0" min="0" max="4" id="strengthbar"></meter>

			<p><input type="submit" value="Finish">
		</form>
	</div>
{% endblock %}
