{% extends 'base.html %}

{% block title %}
	{{ title }}
{% endblock %}

{% block article %}
	{% if not registry %}
		<h3>Registration Success!</h3><br>
		How about adding something new to your cart? Here are some suggestions...
		{% for m in movies %}
			<div class="movie-desc">
				<a href={{ url_for('description', title=m.titulo) }} method="post">
				<img src={{ url_for('static', filename=m.poster) }} alt={{ m.titulo }}> </a>
				{{ m.titulo }}
			</div>
		{% endfor %}
	{% else %}
		<h3>Registration Error. Sorry, that user already exists...</h3>
		Did you want to login? Try loginlink	
	{% endif %}
{% endblock %}